.heading-large {
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
}

.heading-medium {
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
}

.heading-small {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}

.body-ln {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.body-lm {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.body-ls {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}


.body-mm {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.body-mn {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.body-ms {
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
}

.body-sn {
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
}

.body-sm {
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
}

.body-ss {
    font-size: 12px;
    font-weight: 600;
    line-height: 140%;
}